* {
    margin: 0;
    padding: 0;
  }
  
  .input {
    padding: 10px;
    margin: 5px;
  }
  
  .mainDiv{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button{
    padding: 10px;
    border: none;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
  }
  
  .table {
    border-collapse: collapse;
  }
  
  .table th {
    padding: 10px;
  }
  .table td {
    padding: 10px;
  }
  .editButton {
    padding: 10px;
    border: none;
    background-color: lightgreen;
    color: white;
    border-radius: 5px;
    margin: 2px;
  }
  .deleteButton {
    padding: 10px;
    border: none;
    background-color:lightcoral;
    color: white;
    border-radius: 5px;
    margin: 2px;
  }
  .starButton{
    border: none;
    background-color: white;
  }
  .star{
   font-size: 20px;
   background-color: white;
   color: darkgreen;
  }